html {
    scroll-behavior: smooth;
    background: hsl(0, 0%, 95%);
  }

body {
    background-color: #363838;
    color: #E8E8E8;
    width:100%;
    padding: 0;
    margin: 0;
    font-family: anta;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* home */
#home-container {
    height: 100vh;
    background: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#home-card {
    position: relative;
    overflow: hidden; 
    background: #E8E8E8;
    color: black;
    /* animation: shadowPulse 7s infinite ease-in-out, backgroundColorPulse 7s infinite ease-in-out; */
    border-radius: 25px;
}

#home-card h1, #home-card h2 {
    color: black;
}
@keyframes backgroundColorPulse {
    0% {
      background-color: #E8E8E8;
    }
    25% {
      background-color: #ECECEC;
    }
    50% {
      background-color: #F0F0F0;
    }
    75% {
      background-color: #ECECEC;
    }
    100% {
      background-color: #E8E8E8;
    }
  }

@keyframes shadowPulse {
    0% {
      box-shadow: 7px 0px 5px rgba(0, 0, 0, 0);
    }
    10% {
      box-shadow: 7px 0px 7.5px rgba(0, 0, 0, 0.05);
    }
    20% {
      box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.1);
    }
    30% {
      box-shadow: 7px 0px 12.5px rgba(0, 0, 0, 0.15);
    }
    40% {
      box-shadow: 7px 0px 15px rgba(0, 0, 0, 0.2);
    }
    50% {
      box-shadow: 7px 0px 17.5px rgba(0, 0, 0, 0.25);
    }
    60% {
      box-shadow: 7px 0px 15px rgba(0, 0, 0, 0.2);
    }
    70% {
      box-shadow: 7px 0px 12.5px rgba(0, 0, 0, 0.15);
    }
    80% {
      box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.1);
    }
    90% {
      box-shadow: 7px 0px 7.5px rgba(0, 0, 0, 0.05);
    }
    100% {
      box-shadow: 7px 0px 5px rgba(0, 0, 0, 0);
    }
  }

/* nav bar */
nav {
    letter-spacing: 1px;
    position: fixed;
    background-color: #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
    z-index: 1000;
   
}

ul {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    margin: 10px 0 0 0;
    padding: 0;
}

a { 
    color: black;
    text-decoration:none
}

li {
    font-size: 14px;
}

#title-nav-bar {
    font-size: 18px;
    width: 25%;
    margin: 10px 20px 0 20px;
}

.nav-header {
    font-size: 12px
}

.home-name {
    font-size: 80px;
    color: #E8E8E8;
    margin:50px;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.home-name span {
    display: inline-block;
    text-align: center;
}


h2 {
    letter-spacing: 2px;
    font-size: 25px;
    color: #E8E8E8;
}

#projects-container {
    letter-spacing: 1px;
    color: #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    display: flex;
    justify-content: center;
    align-content: center;
}

.project {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    border-radius: 20px 0 20px 0;
    width: 75%;
    min-height: 350px;
    border: 4px solid white;
    padding: 10px 0 10px 0;
    margin-bottom: 40px;
}

.project-image {
    width: auto;
    max-width: 230px;
    height: auto;
    max-height: 160px;
    border: 1px solid #363838;
    border-radius: 15px
}

i {
    padding: 10px;
    font-size: 30px;
}

.offset-anchor {
    padding-top: 70px;
}

.project-description {
    padding: 20px;
    margin:0;
}

.project-link :active {
    transform: scale(1.3);
    color: blue;
}

#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#about-text {
    font-family: Helvetica;
    line-height: 1.5;
}
#gallery-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
#gallery-items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px
}
.gallery-item {
    margin: 20px
}
.gallery-image {
    width: 280px;
    /* max-width: 230px; */
    height: 260px;
    /* max-height: 160px; */
    border: 1px solid #363838;
    border-radius: 15px;
    object-fit: cover;
}

#contact-container {
    padding-bottom: 50px;
}

.section-header {
    letter-spacing: 5px;
   font-size: 40px;
   color: #E8E8E8;
}

.contact-icon {
    color: #E8E8E8
}


footer {
    background-color: #E8E8E8;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    border-top: 2px solid white;
    height: 40px
}

#copyright-icon {
    font-size: 12px;
}
#skills-container {
    background: #363838;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
}
#skills-card {
    width: 100vw;
    color: #363838;
    background: #E8E8E8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
#skills-icons {
    color: #363838;
    background: #E8E8E8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
#skills-list {
    width: 100vw;
    color: #363838;
    background: #E8E8E8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#skills-list li {
    font-size: 12px;
    border: 1px solid #363838;
    border-radius: 5px;
    margin: 5px;
    padding: 10px
}

.skill {
    width: 100px;
    padding: 15px
}

.skill-icon {
    color: #363838
}

@media screen and (min-width:600px) {
    h1 {
        letter-spacing: 18px;
        font-size:100px;
        color: #000000;
    }

    h1 span { 
        display: inline-block;
        transition: all 0.7s ease-out;
    }

    h1 span:hover {
        transform: scale(1.5);
        color: blue;
        cursor: pointer;
    }

    .right-icon:hover {
        transform: scale(1.35) rotate(15deg);;
        color: blue;
    }

    .project {
        width: 50%;
    }

    .left-icon:hover {
        transform: scale(1.35) rotate(-15deg);
        color: blue;
    }
   
    .project:hover {
        border: 4px solid blue;
    }

    #about-text {
        width:50%
    }

    #skills-card {
        width: 60vw;
        color: #363838;
        border-radius: 30px;
        background: #E8E8E8;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px;
    }
    #skills-list {
        font-size: 20px;
        width:70vw;
    }
    #skills-list li{
        font-size: 15px;
    }

}